@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

body {
    max-width: 2600px;
    margin: 0;
    height: 100%;
    padding: 0;
    border: none;
    font-family: Teko, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: url("../images/body-background-image-start-game.webp") #c70039 no-repeat center;
}

header {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #fff;
    margin: 0 0 2rem 0;
    text-align: center;
}

.game-title {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.25rem;
    margin: 0 0 0.25rem 0;
    font-size: 3rem;
    text-transform: uppercase;
}

.score, .time-left {
    display: inline-block;
    height: auto;
    width: 14rem;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 0.25rem;
}

.game-area-div {
    display: inline-block;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    width: 34rem;
    height: 34rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square {
    width: 10rem;
    height: 10rem;
    border: solid grey 0.25rem;
    margin: 0.25rem;    
}

.coal {
    background: url("../images/power-station-144px.png") no-repeat center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #fff;
    margin: 2rem 0 0 0;
    font-size: 2rem;
    text-align: center;
}