@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  cursor: none;
  overflow: hidden;
}
/* Game intro page styles */
.modal {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #111d5e;
  cursor: pointer;
  user-select: none;
}
.start-game-screen-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  height: auto;
  margin: 1rem;
  background-color: #111d5e;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
  text-align: center;
  user-select: none;
}
/* Game intro start button styles */
.start-button,
.learn-more-button,
.exit-game-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #fff;
  color: #111d5e;
  border: 0.25rem solid #c0e218;
  font-family: 'teko';
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0;
}
button:hover,
a:hover {
  background: #c0e218;
  transition: 0.5s ease;
}
.modalclose {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}
/* In-game page styles */
.in-game-page-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  background: url('../images/in-game-background.webp') no-repeat #c70039;
  background-position: top;
  background-size: cover;
  /*cursor: none;
  pointer-events: all;*/
}
/* In-game page header styles */
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 0 1rem 0;
}
.game-title {
  display: flex;
  order: 1;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  text-align: left;
  font-size: 3rem;
  color: #111d5e;
  user-select: none;
}
.score,
.time-left {
  order: 2;
  display: flex;
  width: 18rem;
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  text-align: left;
  font-size: 2rem;
  color: #111d5e;
  user-select: none;
}
.exit-game-button {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  padding: 0rem 0.25rem;
  font-size: 1.5rem;
  text-align: center;
  width: 5rem;
  border: 0.15rem solid #111d5e;
}
/* Game area styles for the Power Stations to pop-up */
.game-area-div {
  display: flex;
  order: 3;
  position: absolute;
  margin: 0.5rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  height: 37.5rem;
  width: 37.5rem;
  /*cursor: none;
  pointer-events: all;*/
}
.grid {
  width: 34rem;
  height: 34rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*pointer-events: all;*/
}
/* Individual grid squares with border removed to reduce user expectancy of pop-up's */
.square {
  width: 10rem;
  height: 10rem;
  --border: solid grey 0.25rem;
  margin: 0.25rem;
}
/* Power Station styles */
.coal {
  width: 9rem;
  height: 7.5625rem;
  margin: 0;
  padding: 0;
  background: url('../images/power-station-144px.png') no-repeat center;
  pointer-events: all;
  cursor: none;
}
/* Flash effect that provides user feedback on a successful hit */
.flash {
  background: #c0e218;
  position: absolute;
}
/* Renewable energy source used to hit power stations */
.wind-turbine {
  position: absolute;
  z-index: 1000;
  height: 120px;
  top: 0;
  left: 0;
  transform: translate(10px, -40px);
  cursor: none;
}
/* 404 Error page style */
.error-page-div {
  position: absolute;
  display: block;
  cursor: pointer;
  background: #171d29;
  background-size: cover;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%
}
.error-page-background {
  display: block;
  background: no-repeat center;
  position: relative;
  width: 70%;
  max-width: 40rem;
  height: auto;
  margin: 0.5rem auto;
}
.error-page-header {
  position: relative;
  text-align: center;
  margin: 0;
  background: #171d29;
  color: #fff;
  font-weight: 400;
  user-select: none;
  top: 0;
}
.error-page-button {
  position: relative;
  align-items: center;
  margin: 1rem;
}
.error-page-button button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #111d5e;
  border: 0.25rem solid #c0e218;
  cursor: pointer;
  font-family: 'teko';
  font-size: 2rem;
  font-weight: 500;
}
.error-page-button button:hover {
  background: #c0e218;
  transition: 0.5s ease;
}

/* Styles for small screens i.e. mobile devices up to 650 px wide */

@media screen and (max-width: 650px) {
  .start-game-screen-div {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro-text {
    margin: 1rem 0.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
    width: 300px
  }
  /* Game intro start button styles */
  .start-button,
  .learn-more-button {
    padding: 0.25rem 0.75rem;
    margin: 0.5rem;
    border: 0.15rem solid #c0e218;
    font-family: 'teko';
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
  }
  /* In-game page header styles */
  header {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
  }
  .game-title {
    padding: 0.25rem;
    margin: 0.25rem 1rem;
    font-size: 1.5rem;
  }
  .score,
  .time-left {
    width: 9rem;
    margin: 0.15rem;
    font-size: 1.5rem;
  }
  .exit-game-button {
    position: absolute;
    top: 3.25rem;
    padding: 0rem 0.15rem;
    font-size: 1rem;
  }
  /* Game area styles for the Power Stations to pop-up */
  .game-area-div {
    width: 25.625rem;
    height: 34.125rem;
    top: 58%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  .grid {
    width: 25rem;
    height: 33.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .square {
    width: 8.75rem;
    height: 8.75rem;
    margin: 0.15rem 0.25rem;
    padding: 0;
  }
  .coal {
    width: 7.5rem;
    height: 6.375rem;
    margin: 0;
    padding: 0;
    background: url('../images/power-station-120px.png') no-repeat center;
    pointer-events: all;
    cursor: none;
  }
  .wind-turbine {
    position: absolute;
    z-index: 1000;
    height: 80px;
    transform: translate(10px, -40px);
    /*cursor: none;*/
  }
  /* 404 Error page style */
  .error-page-header {
    margin: 0.5rem;
    letter-spacing: 0;
  }
  .error-page-button button {
    padding: 0.25rem 0.75rem;
    border: 0.15rem solid #c0e218;
  }
}

/* Styles for small screens i.e. mobile devices up to 405 px wide */

@media screen and (max-width: 405px) {
  .start-game-screen-div {
    margin: 0.15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro-text {
    margin: 0.5rem 0.25rem;
    font-size: 1.25rem;
  }
  /* Game intro start button styles */
  .start-button,
  .learn-more-button {
    padding: 0.1rem 0.50rem;
    margin: 0.5rem;
    border-width: 0.15rem;
    font-size: 1.25rem;
  }
  /* In-game page header styles */
  header {
    margin: 0 0 0.5rem 0;
  }
  .game-title {
    margin: 0.15rem 0.5rem;
    padding: 0;
    font-size: 1rem;
  }
  .score,
  .time-left {
    width: 7rem;
    margin: 0.05rem 0.5rem;
    padding: 0;
    font-size: 1rem;
  }
  .exit-game-button {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 1.15rem;
    right: 0.5rem;
    border-width: 0.05rem;
    font-size: 0.75rem;
    width: 3rem;
  }
  /* Game area styles for the Power Stations to pop-up */
  .game-area-div {
    width: 19.375rem;
    height: 25rem;
  }
  .grid {
    width: 18.75rem;
    height: 31rem;
  }
  .square {
    width: 6rem;
    height: 6rem;
  }
  .coal {
    margin: 0;
    padding: 0;
    background: url('../images/power-station-88px.png') no-repeat center;
    pointer-events: all;
    cursor: none;
  }
}

/* Styles for large screens over 3500px wide */

@media screen and (min-width: 3500px) {
  body {
    width: 3200px;
    margin: 0 auto;
    padding: 0;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: none;
    overflow: hidden;
  }
  .start-game-screen-div {
    font-size: 7rem;
    font-weight: 600;
    width: 80%;
  }
  /* Game intro start button styles */
  .start-button,
  .learn-more-button {
    padding: 0.25rem 0.75rem;
    margin: 1.5rem 0.5rem;
    font-size: 7rem;
    font-weight: 500;
  }
  /* In-game page header styles */
  .game-title {
    padding: 0.25rem;
    margin: 0.25rem 1rem;
    font-size: 7rem;
  }
  .score,
  .time-left {
    width: 44rem;
    font-size: 7rem;
  }
  .exit-game-button {
    width: 20rem;
    top: 1rem;
    font-size: 5rem;
  }
  /* Game area styles for the Power Stations to pop-up */
  .game-area-div {
    width: 187.5rem;
    height: 187.5rem;
    top: 58%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  .grid {
    width: 160rem;
    height: 160rem;
  }
  .square {
    width: 30rem;
    height: 30rem;
    margin: 4rem 4rem;
    padding: 0;
  }
  .coal {
    width: 28.75rem;
    height: 24.1875rem;
    background: url('../images/power-station-460px.png') no-repeat center;
  }
  /*.wind-turbine {
    height: 24.1875rem;
    transform: translate(10px, -40px);
    cursor: none;/*
  }
  /* 404 Error page style */
  .error-page-header {
    margin: 0.5rem;
    letter-spacing: 0;
  }
  .error-page-button button {
    padding: 0.25rem 0.75rem;
    border: 0.15rem solid #c0e218;
  }
}